export SPRING_DATASOURCE_URL="jdbc:postgresql://localhost/mogul"
export SPRING_DATASOURCE_USERNAME="mogul"
export SPRING_DATASOURCE_PASSWORD="mogul"
export SPRING_RABBITMQ_USERNAME="mogul"
export SPRING_RABBITMQ_PASSWORD="mogul"
export SPRING_RABBITMQ_VIRTUAL_HOST="/"
