# we need access to our key manager for any of this to work
export BW_SESSION=$(bw unlock --raw)

export SPRING_DATASOURCE_URL="jdbc:postgresql://localhost/mogul"
export SPRING_DATASOURCE_USERNAME="mogul"
export SPRING_DATASOURCE_PASSWORD="mogul"
export SPRING_RABBITMQ_USERNAME="mogul"
export SPRING_RABBITMQ_PASSWORD="mogul"
export SPRING_RABBITMQ_VIRTUAL_HOST="/"

export OPENAI_KEY=$(bw get password bootiful-openai-key)

export AWS_REGION="$(bw get item aws-s3-credentials--production | jq -r '.fields[] | select(.name == "region") | .value')"
export AWS_ACCESS_KEY_ID="$(bw get item aws-s3-credentials--production | jq -r '.fields[] | select(.name == "access-key") | .value')"
export AWS_SECRET_ACCESS_KEY="$(bw get item aws-s3-credentials--production | jq -r '.fields[] | select(.name == "access-key-secret") | .value')"