:root {
    --gutter-space: 20px;
}


a:hover {
    text-decoration: underline;
}

.panel {
    border-radius: var(--gutter-space) 0 0 var(--gutter-space);

}

input[type=text] {
    width: 100%;
}
textarea {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Arial Black', sans-serif;
    font-size: small;
}

.pure-button {
    border-radius: calc(var(--gutter-space) / 3);
}

.pure-form-stacked .pure-button {
    margin-top: 0.5em;
    background-color: black;
    color: white;
    margin-right: calc(0.5 * var(--gutter-space));
}

.form-row {
    height: calc(2 * var(--gutter-space));
    vertical-align: bottom;
}

.pure-form label {
    text-transform: capitalize;
    font-size: smaller;
    margin-top: 1em;
}

.form-row .pure-button {
    margin-left: calc(0.5 * var(--gutter-space));
    right: 0;
}

a.disabled {
    color: lightgrey;
    text-decoration: none;
}

body {
    background-color: cadetblue;
}

html {
    margin-left: calc(2 * var(--gutter-space));
    margin-top: var(--gutter-space);
}

.form-prompt {
    font-size: small;
    opacity: 70%;
}
.page {
    display: grid;
    grid-template-areas:
    'welcome welcome welcome'
    'toolbar toolbar toolbar'
    'main gap sidebar';
    grid-template-columns:
            auto calc(3 * var(--gutter-space)) min-content;
}

.welcome {
    grid-area: welcome;
    padding-bottom: var(--gutter-space);
}

.toolbar {
    grid-area: toolbar;
    padding-bottom: var(--gutter-space);
}

.view {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.sidebar textarea {
}

.pure-form legend {
    box-sizing: unset;
    display: inline-block;
    border-radius: 10px 10px 10px 10px ;
    font-weight: bold;
    background-color:white ;
    color: black ;
    border-width: 0;
    left : calc(-4 * var(--gutter-space)) ;
    padding-left:  calc( 4 * var(--gutter-space)) ;
    position: relative;
    right :0 ;

}